@font-face {
  font-family: "uberfont";
  src: url(./UberMoveMedium.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
button {
  text-decoration: none;
  color: inherit;
  border-radius: 17px;
  padding: 6px 11px;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
a:hover,
button:hover {
  background-color: rgba(240, 248, 255, 0.235);
  cursor: pointer;
}
body {
  font-family: "uberfont";
}

/* header */
header {
  color: white;
  background-color: black;
  display: flex;
  padding: 16px 55px;
  align-items: center;
}
header > a {
  font-size: 30px;
}
header > a:hover {
  background-color: transparent;
}
header .right-nav {
  margin-left: auto; /*push right-nav to the right*/
}
/* search section */
.search {
  display: flex;
}
.search > div {
  flex: 1;
}
